mat-form-field {
    width: 50%;
}

/* Botón Ingresar estilo Mindra */
button[mat-raised-button] {
    background-color: #7C9D8E; /* Verde principal */
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;  
}

/* Hover opcional (si no lo quieres, lo quito) */
button[mat-raised-button]:hover {
    background-color: #5A6C5D; /* Verde oscuro */
}

.container img {
  width: 180px;        /* tamaño de la imagen */
  height: auto;        /* mantiene proporción */
  display: block;      /* elimina espacios raros */
  margin: 20px auto;   /* la centra y agrega espacio arriba y abajo */
  margin-top: 100px;
  margin-bottom: 20;
  border-radius: 15px;
}