<div class="container">
  @if(verificar()){
    <mat-toolbar class="custom-toolbar">
    <button mat-button [routerLink]="['/homes']" class="btn-rojo">
      <mat-icon>home</mat-icon>Home
    </button>
    @if(isAdmin()){
    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuAlertas"
      aria-label="Alertas menu"
    >
      <mat-icon>warning</mat-icon>Alertas
    </button>
    } @if(isTester()){
    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuRecomendaciones"
      aria-label="Recomendaciones menu"
    >
      <mat-icon>recommend</mat-icon>Recomendaciones
    </button>
  }
<span class="spacer"> </span>
  
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </mat-toolbar>
  }

  <mat-menu #menuAlertas="matMenu">
    <button mat-menu-item routerLink="/alertas"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/alertas/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuRecomendaciones="matMenu">
    <button mat-menu-item routerLink="/recomendaciones"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/recomendaciones/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>
  
  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>
</div>