<div class="container">
  @if(verificar()){
  <mat-toolbar class="custom-toolbar">
    <button class="btn-rojo" mat-button [matMenuTriggerFor]="menuAlertas" aria-label="Alertas menu">
      <mat-icon>warning</mat-icon>Alertas
    </button>

    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuRecomendaciones"
      aria-label="Recomendaciones menu"
    >
      <mat-icon>recommend</mat-icon>Recomendaciones
    </button>

    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuSitiosWeb"
      aria-label="Sitiosweb menu"
    >
      <mat-icon>language</mat-icon>Sitios Web
    </button>

    <button class="btn-rojo" mat-button [matMenuTriggerFor]="menuVisitas" aria-label="Visitas menu">
      <mat-icon>history</mat-icon>Visitas
    </button>

    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuBloqueos"
      aria-label="Bloqueos menu"
    >
      <mat-icon>lock</mat-icon>Bloqueos
    </button>

    <button
      class="btn-rojo"
      mat-button
      [matMenuTriggerFor]="menuReportes"
      aria-label="Reportes menu"
    >
      <mat-icon>assessment</mat-icon>Reportes
    </button>

    <span class="spacer"> </span>
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>

  </mat-toolbar>
  }

  <mat-menu #menuAlertas="matMenu">
    <button mat-menu-item routerLink="/alertas"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/alertas/news"><mat-icon>add</mat-icon>Registrar</button>
    <button mat-menu-item routerLink="/alertas/searchs"><mat-icon>search</mat-icon>Buscar</button>
  </mat-menu>

  <mat-menu #menuRecomendaciones="matMenu">
    <button mat-menu-item routerLink="/recomendaciones"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/recomendaciones/news">
      <mat-icon>add</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/recomendaciones/searchs">
      <mat-icon>search</mat-icon>Buscar
    </button>
  </mat-menu>

  <mat-menu #menuSitiosWeb="matMenu">
    <button mat-menu-item routerLink="/sitiosweb"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/sitiosweb/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuVisitas="matMenu">
    <button mat-menu-item routerLink="/visitas"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/visitas/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuBloqueos="matMenu">
    <button mat-menu-item routerLink="/bloqueo"><mat-icon>list</mat-icon>Listar</button>
    <button mat-menu-item routerLink="/bloqueo/news"><mat-icon>add</mat-icon>Registrar</button>
  </mat-menu>

  <mat-menu #menuReportes="matMenu">
    <button mat-menu-item routerLink="/usuario/totalTiempoDistraccionUsuario">
      <mat-icon>timer</mat-icon>Reporte de tiempo de distracción
    </button>
    <button mat-menu-item routerLink="/usuario/tiempoProductivoUsuario">
      <mat-icon>timer</mat-icon>Reporte de tiempo productivo
    </button>
  </mat-menu>

  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>
</div>
